#[WorldMap]count=���� �� ����
#Country=���� ����(0=��������, 1=������, 2=�г�����)
#MapNum=����Ǵ� �� ��ȣ(-1�Է� �ϸ� �� ���� �ȵ�)
#Click_left=���콺����Ŭ�� ���� ��ġ
#Click_top=���콺����Ŭ�� ��� ��ġ
#Click_right=���콺����Ŭ�� ���� ��ġ
#Click_bottom=���콺����Ŭ�� �ϴ� ��ġ
#ImgPos_x=�̹��� ��� ���� ��ġ
#ImgPos_y=�̹��� ��� ��� ��ġ

[WorldMap]
count=68

[0]
MapNum=3
ImgPos_x=1036
ImgPos_y=1052

[1]
MapNum=4
ImgPos_x=2221
ImgPos_y=2221

[2]
MapNum=5
ImgPos_x=1537
ImgPos_y=1537

[3]
MapNum=6
ImgPos_x=2330
ImgPos_y=2330

[4]
MapNum=7
ImgPos_x=1317
ImgPos_y=1515

[5]
MapNum=8
ImgPos_x=2330
ImgPos_y=2330

[6]
MapNum=9
ImgPos_x=820
ImgPos_y=573

[7]
MapNum=10
ImgPos_x=934
ImgPos_y=734

[8]
MapNum=11
ImgPos_x=903
ImgPos_y=1565

[9]
MapNum=12
ImgPos_x=1024
ImgPos_y=1024

[10]
MapNum=13
ImgPos_x=1165
ImgPos_y=981

[11]
MapNum=14
ImgPos_x=823
ImgPos_y=743

[12]
MapNum=15
ImgPos_x=1664
ImgPos_y=1472

[13]
MapNum=16
ImgPos_x=1081
ImgPos_y=1081

[14]
MapNum=17
ImgPos_x=987
ImgPos_y=716

[15]
MapNum=21
ImgPos_x=1197
ImgPos_y=942

[16]
MapNum=22
ImgPos_x=1528
ImgPos_y=903

[17]
MapNum=23
ImgPos_x=1085
ImgPos_y=1502

[18]
MapNum=24
ImgPos_x=1072
ImgPos_y=1072

[19]
MapNum=26
ImgPos_x=845
ImgPos_y=672

[20]
MapNum=27
ImgPos_x=512
ImgPos_y=512

[21]
MapNum=31
ImgPos_x=1072
ImgPos_y=1072

[22]
MapNum=32
ImgPos_x=1197
ImgPos_y=942

[23]
MapNum=33
ImgPos_x=787
ImgPos_y=787

[24]
MapNum=34
ImgPos_x=1654
ImgPos_y=1686

[25]
MapNum=37
ImgPos_x=1083
ImgPos_y=865

[26]
MapNum=38
ImgPos_x=865
ImgPos_y=865

[27]
MapNum=39
ImgPos_x=3120
ImgPos_y=3120

[28]
MapNum=40
ImgPos_x=2730
ImgPos_y=2730

[29]
MapNum=41
ImgPos_x=4723
ImgPos_y=4723

[30]
MapNum=42
ImgPos_x=4032
ImgPos_y=4032

[31]
MapNum=48
ImgPos_x=512
ImgPos_y=512

[32]
MapNum=49
ImgPos_x=512
ImgPos_y=512

[33]
MapNum=55
ImgPos_x=1826
ImgPos_y=2688

[34]
MapNum=56
ImgPos_x=1826
ImgPos_y=2688

[35]
MapNum=57
ImgPos_x=2634
ImgPos_y=2634

[36]
MapNum=58
ImgPos_x=6472
ImgPos_y=4161

[37]
MapNum=59
ImgPos_x=8192
ImgPos_y=6636

[38]
MapNum=60
ImgPos_x=1401
ImgPos_y=1401

[39]
MapNum=61
ImgPos_x=8192
ImgPos_y=6636

[40]
MapNum=65
ImgPos_x=1024
ImgPos_y=1024

[41]
MapNum=66
ImgPos_x=1024
ImgPos_y=1024

[42]
MapNum=67
ImgPos_x=815
ImgPos_y=815

[43]
MapNum=71
ImgPos_x=1120
ImgPos_y=1120

[44]
MapNum=72
ImgPos_x=1094
ImgPos_y=1094

[45]
MapNum=73
ImgPos_x=3449
ImgPos_y=3449

[46]
MapNum=74
ImgPos_x=821
ImgPos_y=821

[47]
MapNum=77
ImgPos_x=1351
ImgPos_y=1497

[48]
MapNum=78
ImgPos_x=2319
ImgPos_y=2319

[49]
MapNum=79
ImgPos_x=1533
ImgPos_y=1533

[50]
MapNum=81
ImgPos_x=581
ImgPos_y=581

[51]
MapNum=82
ImgPos_x=1537
ImgPos_y=1537

[52]
MapNum=83
ImgPos_x=2330
ImgPos_y=2330

[53]
MapNum=84
ImgPos_x=1317
ImgPos_y=1515

[54]
MapNum=85
ImgPos_x=2330
ImgPos_y=2330

[55]
MapNum=86
ImgPos_x=1826
ImgPos_y=2688

[56]
MapNum=87
ImgPos_x=1826
ImgPos_y=2688

[57]
MapNum=88
ImgPos_x=1826
ImgPos_y=2688

[58]
MapNum=89
ImgPos_x=1826
ImgPos_y=2688

[59]
MapNum=90
ImgPos_x=1826
ImgPos_y=2688

[60]
MapNum=117
ImgPos_x=1120
ImgPos_y=1120

[61]
MapNum=118
ImgPos_x=1120
ImgPos_y=1120

[62]
MapNum=146
ImgPos_x=1094
ImgPos_y=1094

[63]
MapNum=147
ImgPos_x=1094
ImgPos_y=1094

[64]
MapNum=148
ImgPos_x=1401
ImgPos_y=1401

[65]
MapNum=149
ImgPos_x=1401
ImgPos_y=1401

[66]
MapNum=150
ImgPos_x=1401
ImgPos_y=1401

[67]
MapNum=151
ImgPos_x=1401
ImgPos_y=1401

