#[WorldMap]count=���� �� ����
#Country=���� ����(0=��������, 1=������, 2=�г�����)
#MapNum=����Ǵ� �� ��ȣ(-1�Է� �ϸ� �� ���� �ȵ�)
#Click_left=���콺����Ŭ�� ���� ��ġ
#Click_top=���콺����Ŭ�� ��� ��ġ
#Click_right=���콺����Ŭ�� ���� ��ġ
#Click_bottom=���콺����Ŭ�� �ϴ� ��ġ
#ImgPos_x=�̹��� ��� ���� ��ġ
#ImgPos_y=�̹��� ��� ��� ��ġ

[WorldMap]
count=22

#�����
[0]
Country=1
MapNum=19
Click_left=180
Click_top=160
Click_right=234
Click_bottom=200
ImgPos_x=172
ImgPos_y=149

#��������
[1]
Country=1 
MapNum=1
Click_left=227
Click_top=102
Click_right=281
Click_bottom=153
ImgPos_x=223
ImgPos_y=90

#�Ƶ�����
[2]
Country=1
MapNum=28
Click_left=158
Click_top=0208
Click_right=204
Click_bottom=249
ImgPos_x=146
ImgPos_y=202

#��Ŭ����
[3]
Country=1
MapNum=43
Click_left=210
Click_top=208
Click_right=252
Click_bottom=249
ImgPos_x=205
ImgPos_y=201

#��Ǯ��
[4]
Country=1
MapNum=35
Click_left=140
Click_top=150
Click_right=164
Click_bottom=173
ImgPos_x=145
ImgPos_y=153

#����ũ��
[5]
Country=2
MapNum=2
Click_left=207
Click_top=399
Click_right=298
Click_bottom=460
ImgPos_x=158
ImgPos_y=384

#ũ������
[6]
Country=2
MapNum=20
Click_left=197
Click_top=356
Click_right=246
Click_bottom=385
ImgPos_x=186
ImgPos_y=346

#�Ƶ帮��
[7]
Country=2
MapNum=29
Click_left=200
Click_top=310
Click_right=243
Click_bottom=344
ImgPos_x=188
ImgPos_y=298

#�̸���
[8]
Country=2
MapNum=36
Click_left=251
Click_top=369
Click_right=277
Click_bottom=390
ImgPos_x=242
ImgPos_y=362

#�ƽ��׳׽�
[9]
Country=2
MapNum=44
Click_left=255
Click_top=304
Click_right=298
Click_bottom=345
ImgPos_x=246
ImgPos_y=297

#���ο����� ����Ƽ��
[10]
Country=0
MapNum=18
Click_left=216
Click_top=259
Click_right=239
Click_bottom=276
ImgPos_x=214
ImgPos_y=257

#ĭŸ������
[11]
Country=0
MapNum=30
Click_left=213
Click_top=279
Click_right=240
Click_bottom=296
ImgPos_x=209
ImgPos_y=278

#D-���� ��������
[12]
Country=0
MapNum=0
Click_left=245
Click_top=255
Click_right=274
Click_bottom=291
ImgPos_x=241
ImgPos_y=238

#�� ����Ʈ-1
[13]
Country=0
MapNum=45
Click_left=158
Click_top=260
Click_right=191
Click_bottom=331
ImgPos_x=145
ImgPos_y=250

#�� ����Ʈ-2
[14]
Country=0
MapNum=46
Click_left=82
Click_top=252
Click_right=142
Click_bottom=349
ImgPos_x=64
ImgPos_y=230

#�����̺� ������
[15]
Country=0
MapNum=47
Click_left=330
Click_top=248
Click_right=365
Click_bottom=297
ImgPos_x=322
ImgPos_y=225

#�ߵ����� ���״�
[16]
Country=1
MapNum=68
Click_left=286
Click_top=189
Click_right=331
Click_bottom=245
ImgPos_x=283
ImgPos_y=166

#�ȶ��̿� ���״�
[17]
Country=2
MapNum=69
Click_left=303
Click_top=305
Click_right=362
Click_bottom=348
ImgPos_x=300
ImgPos_y=291

#R-2 ��Ī
[18]
Country=0
MapNum=70
Click_left=279
Click_top=260
Click_right=318
Click_bottom=292
ImgPos_x=274
ImgPos_y=236

#��Ÿ����
[19]
Country=1
MapNum=75
Click_left=88
Click_top=417
Click_right=114
Click_bottom=460
ImgPos_x=69
ImgPos_y=430

#�׿�������
[20]
Country=2
MapNum=76
Click_left=67
Click_top=462
Click_right=102
Click_bottom=489
ImgPos_x=64
ImgPos_y=454

#EU/US Channel
[21]
Country=0
MapNum=152
Click_left=279
Click_top=260
Click_right=318
Click_bottom=292
ImgPos_x=274
ImgPos_y=236

#ES/PT Channel
[22]
Country=0
MapNum=153
Click_left=279
Click_top=260
Click_right=318
Click_bottom=292
ImgPos_x=274
ImgPos_y=236